/* global reset */

@import url('../node_modules/modern-normalize/modern-normalize.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  font-family: system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  min-height: 100svh;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
}

button,
input,
select,
textarea {
  font: inherit;
  line-height: 1.15;
}

canvas,
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

audio {
  display: block;
  max-width: 100%;
}

/* optional reset */

img {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
